

#dl-entry-tabs {
  margin-bottom: 5px;
}

#dl-entry-tab-content {
  .form-inline {
    margin-bottom: 5px;
  }

  input[type="number"] {
    text-align: right;
  }

  #temp-employee-list {
    
  }
}